.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.ImageBox
{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
